In [ ]:
#Q-1. Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as<WORKER_NAME>.

In [ ]:
#Ans_1
SELECT FIRST_NAME AS WORKER_NAME FROM Worker

In [ ]:
#Q-2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

In [ ]:
#Ans_2
SELECT DISTINCT DEPARTMENT FROM Worker

In [ ]:
#Q-3. Write an SQL query to show the last 5 record from a table.

In [ ]:
#Ans_3
SELECT * from Worker ORDER by id DESC LIMIT 5