In [ ]:
#Q-13. Write an SQL query to show only odd rows from a table.

In [ ]:
#Ans_13
ELECT * FROM INEURON Where MOD(STUDENT_ID,2) = 1

In [ ]:
#Q-14. Write an SQL query to clone a new table from another table.

In [ ]:
#Ans_14
INSERT INTO NEW_TABLE SELECT * FROM OLD_TABLE