In [ ]:
#Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

In [ ]:
#Ans_1
SELECT TRIM(FIRST_NAME) FROM Worker;

In [ ]:
#Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

In [ ]:
#Ans_2
SELECT DISTINCT(DEPARTMENT),LEN(DEPARTMENT) FROM Worker

In [ ]:
#Q-3. Write an SQL query to fetch nth max salaries from a table.

In [ ]:
#Ans_3
SELECT DISTINCT(Salary) FROM Worker ORDER BY Salary DESC LIMIT 1 OFFSET n