In [ ]:
#Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

In [ ]:
#Ans_1
SELECT * FROM Worker WHERE JOINING_DATE LIKE "%2014-02%"

In [ ]:
#Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

In [ ]:
#Ans_2
SELECT column_name, COUNT(column_name) FROM Worker GROUP BY FEILD HAVING COUNT(column_name) > 1

In [ ]:
#Q-3. How to remove duplicate rows from Employees table.

In [ ]:
#Ans_3
DELETE FROM INEURON WHERE SN NOT IN (SELECT MAX(SN) FROM DETAILS GROUP BY STUDENT,COURSE)