In [ ]:
#Q-15. Write an SQL query to fetch intersecting records of two tables.

In [ ]:
#Ans_15
SELECT <UNIQUE_ID> FROM TABLE_A INTERSECT SELECT <UNIQUE_ID> FROM TABLE_B

In [ ]:
#Q-16. Write an SQL query to show records from one table that another table does not have.

In [ ]:
#Ans_16
SELECT ALL FROM TABLE_A EXCEPT SELECT * FROM TABLE_B