In [ ]:
#Q-17. Write an SQL query to show the top n (say 10) records of a table.

In [ ]:
#Ans_17
SELECT ALL FROM INEURON LIMIT 10

In [ ]:
#Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.

In [ ]:
#Ans_18
SELECT DISTINCT(SALARY) FROM Worker ORDER BY DESC LIMIT 5