In [ ]:
#Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

In [ ]:
#Ans_19
SELECT * FROM (SELECT ROW_NUMBER() OVER (ORDER BY salary DESC) AS R_NUM, first_name, salary FROM employee) as HEllO WHERE R_NUM=5

In [ ]:
#Q-20. Write an SQL query to fetch the list of employees with the same salary.

In [ ]:
#Ans_20
SELECT * FROM employee WHERE(SALARY=SALARY)